/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e4e1e1; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray;
    border: 2px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #878585; 
}