<div class="main-div">
  <div class="block-part left">

    <!-- NOTE: Potential to fill commented-out custom-inputs below with CryptoCurrency Data
        Both the currency and cryptocurrency buttons could stay next to each other.
        One would be disabled while the other was activated -->

    <input class="custom-input" (keydown)="checkInput($event)" [(ngModel)]="baseCurrencyAmount" placeholder="0.00">
    <custom-select [data]="currencyData" [selectedItemString]="baseCurrencyCode" (selectionMade)="baseCurrencyCode = $event.data">
    </custom-select>
    <!--custom-select [data]="cryptoData" [selectedItemString]="baseCryptoCode" (selectionMade)="baseCryptoCode = $event.data">
      </custom-select-->
    <br/>

    <!-- Upon selection of one result currency, a second custom-select could appear below to offer another result currency -->
    <div *ngFor="let result of resultCurrencyCodes; let i = index;">
      <input class="custom-input" [(ngModel)]="resultCurrencyAmounts[i]" disabled>
      <custom-select [data]="currencyData" [selectedItemString]="resultCurrencyCodes[i]" (selectionMade)="resultCurrencyCodes[i] = $event.data; resetGraph();">
      </custom-select>
      <!--custom-select [data]="cryptoData" [selectedItemString]="resultCryptoCode" (selectionMade)="resultCryptoCode = $event.data">
      </custom-select-->
    </div>
    <br/>

    <!-- Potential to add a date range for tendency calculation and graph -->
    <!--datepicker [ngModel]="dateFrom"></datepicker-->
    <!--datepicker [ngModel]="dateTo"></datepicker-->

    <div class="button-container-double">
      <button (click)="convertCurrency()"><i class="fa fa-money"></i>Convert</button>
      <button (click)="switchCurrency()"><i class="fa fa-refresh"></i>Swap Currency</button>
    </div>
    <div class="button-container-single">
      <button *ngIf="!graphShown" (click)="viewGraph()" class="graph-button"><i class="fa fa-line-chart"></i>Show 30-Day Progression</button>
      <button *ngIf="graphShown" (click)="graphShown = false" class="graph-button"><i class="fa fa-line-chart"></i>Hide 30-Day Progression</button>
    </div>
  </div>
  <div class="block-part right">
    <div *ngIf="labelShown" [style.color]="tendencyPositive ? 'forestgreen' : 'red'">
      <label class="percentage-tendency-label">
        {{percentageTendencyLabel}}
      </label>
      <i *ngIf="tendencyPositive" class="fa fa-arrow-up"></i>
      <i *ngIf="!tendencyPositive" class="fa fa-arrow-down"></i>
    </div>
    <!-- Multiple currency types can be sent to this graph in version 2 -->
    <graph-wrapper *ngIf="graphShown" [datasets]="graphData" [labels]="graphLabels" (graphToggled)="graphToggled.emit($event)"></graph-wrapper>
  </div>
</div>