<div class="main-div">
  <input class="custom-input" [(ngModel)]="baseCurrencyAmount" placeholder="0.00">
  <custom-select [data]="currencyData" [selectedItemString]="baseCurrencyCode" (selectionMade)="baseCurrencyCode = $event.data">
  </custom-select>
  <br/>
  <input class="custom-input" [(ngModel)]="resultCurrencyAmount" disabled>
  <custom-select [data]="currencyData" [selectedItemString]="resultCurrencyCode" (selectionMade)="resultCurrencyCode = $event.data; resetGraph();">
  </custom-select>
  <br/>
  <div class="button-container-double">
    <button (click)="convertCurrency()"><i class="fa fa-money"></i>Convert</button>
    <button (click)="switchCurrency()"><i class="fa fa-refresh"></i>Swap Currency</button>
  </div>
  <div class="button-container-single">
    <button *ngIf="!graphShown" (click)="viewGraph()" class="graph-button"><i class="fa fa-bars"></i>Show 30-Day Progression</button>
    <button *ngIf="graphShown" (click)="graphShown = false" class="graph-button"><i class="fa fa-bars"></i>Hide 30-Day Progression</button>
  </div>
  <graph-wrapper *ngIf="graphShown" [datasets]="graphData" (graphToggled)="graphToggled.emit()"></graph-wrapper>
</div>