.main-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    .input-area {
        position: absolute;
        top: 130px;
        min-width: 450px;
        -webkit-transition: left 1s;
        transition: left 1s;
    }

    .left-third {
        left: 33%;
    }

    .left-tenth {
        left: 5%;
    }
}

