/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/variables.scss';
@import 'assets/scss/forms.scss';
@import 'assets/scss/scrollbar.scss';

body {
    background:  url('assets/sky.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}